*{
    padding: 0px;
    margin: 0px;
}
.container-2{
    background-color: rgba(33, 33, 33, 0.8);
    padding: 40px;
    border-radius: 10px;

}
.container-2 p {
    text-align: end;
}
header nav ul li {
    display: inline-block;
    background-color: rgb(71, 83, 255);
    padding: 15px;
    border-radius: 10px 0px 5px 0px;
    /* box-shadow: 0px 0px 5px 10px cyan; */
    cursor:pointer;
    margin-left: 10px;
}
header nav ul li a{
    color: white;
    text-decoration: none;
}
header nav ul li:hover{
    background-color: black;
}
table tr td button{
    cursor: pointer;
    font-size: 25px;
    width: 52px;
    height: 52px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: bold;
}
table tr td button:hover{
    background-color: rgb(20, 195, 248);
    color:white;
}
header{
    grid-area: header;
    background-color: blue;
    display: flex;
    align-items: center;
}
main{
    grid-area: main;
    background-color: limegreen;
    display: flex;
    justify-content: center;
    align-items: center;    
}
main p{
    background-color: white;
    padding: 15px;
    margin: 5px 0px 8px 0px;
    width: 190px;
    color:black;
    height: 10px;
    border-radius: 5px;

    max-width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
}
main h3{
    text-align: center;
    font-size: 25px;
    color: white;
}
aside{
    grid-area: aside;
    background-color: red;
}
footer{
    grid-area: footer;
    background-color: black;
}
.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "header header"
                         "main aside"
                         "footer footer";
}
#btIgual{
    height:110px;
    background-color: rgb(8, 189, 8);
    font-size: 30px;
}
#btIgual:hover{
    background-color: rgb(87, 253, 87);
}
#bt0{
    width: 110px;
}
#btLimpar{
    background-color: rgb(220, 20, 20);
    font-size: 20px;
}
#btLimpar:hover{
    background-color: rgb(255, 0, 0);
}
aside input{
    outline: none;
    width: 90%;
}
aside button{
    margin: 50% 0px;
    font-size: 50px;
    width: 100%;
    cursor: pointer;
}
aside button a{
    text-decoration: none;
    color:black;
    font: bold;
}
footer { 
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;

}
